<md-content class="app-main-content" layout-padding layout-wrap layout-fill>
    <div flex="auto" layout="row" layout-xs="column" layout-wrap>
        <md-input-container flex="{{(ctrl.isExportVisible()) ? 45 : 50}}">
            <label>Région</label>
            <md-select ng-model="ctrl.region" ng-model-options="{trackBy: '$value.id'}" placeholder="Selectionner une région">
                <md-option value=""></md-option>
                <md-option ng-value="reg" ng-repeat="reg in ctrl.regions | orderBy:'name'">{{ reg.name }}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="{{(ctrl.isExportVisible()) ? 45 : 50}}">
            <label>Type</label>
            <md-select ng-model="ctrl.classification" ng-model-options="{trackBy: '$value.id'}" placeholder="Selectionner un type">
                <md-option value=""></md-option>
                <md-option ng-value="classif" ng-repeat="classif in ctrl.classifications | orderBy:'name'">{{ classif.name }}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="10" class="export-btn" ng-show="ctrl.isExportVisible()">
            <md-button class="md-fab md-mini" ng-json-export-excel data="ctrl.items" report-fields="ctrl.exportHeaders" filename="bottles" aria-label="Exporter">
                <md-icon md-svg-src="/cave/images/icons/export.svg"></md-icon>
            </md-button>
        </md-input-container>
    </div>
    <div flex="auto" layout="row" layout-xs="column" layout-wrap>
        <md-card class="card" ng-repeat="item in ctrl.items | filter:ctrl.filterBottles | orderBy:'name'">
            <md-card-title class="app-card-title">
                <md-card-title-text>
                    <span class="md-headline">{{item.name}}</span>
                    <br />
                    <span class="md-subhead white">{{item.wine.name}}</span>
                </md-card-title-text>
                <span flex></span>
            </md-card-title>
            <md-card-title-media>
                <div class="md-media-sm card-media">
                    <div class="bottle-count">{{item.quantity}}</div>
                </div>
            </md-card-title-media>
            <md-card-content class="app-card-content-small">
                <div layout="row" layout-xs="column">
                    <div flex class="fieldvalue medium-info">{{item.classification.name}}</div>
                    <div flex class="fieldvalue medium-info">{{item.year}}</div>
                </div>
                <div layout="row" layout-xs="column">
                    <div flex class="fieldlabel">A boire entre {{item.yearMin}} et {{item.yearMax}}</div>
                </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="space-around start">
                <md-button class="md-cornered" aria-label="Boire" ng-click="ctrl.drink(item)">
                    <md-icon md-svg-src="/cave/images/icons/drink.svg"></md-icon>
                </md-button>
                <md-button class="md-cornered" aria-label="Modifier" ng-click="ctrl.editItem(item)">
                    <md-icon md-svg-src="/cave/images/icons/edit.svg"></md-icon>
                </md-button>
                <md-button class="md-cornered" aria-label="Supprimer" ng-click="ctrl.deleteItem(item)">
                    <md-icon md-svg-src="/cave/images/icons/delete.svg"></md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>