<form role="form" ng-submit="ctrl.login()" class="form-login">
    <div class="alert alert-danger" ng-show="error">
        There was a problem logging in. Please try again.
    </div>
    <md-content class="app-main-content" layout-padding layout-wrap layout-fill>
        <div flex="auto" layout="row" layout-xs="column" layout-wrap>
            <md-card class="card-xxl">
                <md-card-title class="app-card-title">
                    <md-card-title-text>
                        <span class="md-headline">Identification</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-title-media>
                    <div class="md-media-sm card-media">
                        <div class="app-user-picto"></div>
                    </div>
                </md-card-title-media>
                <md-card-content class="app-card-content-large">

                    <div class="md-dialog-content app-dialog-content-small">
                        <md-input-container flex>
                            <label>Utilisateur</label>
                            <input ng-model="ctrl.user.username">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Mot de passe</label>
                            <input ng-model="ctrl.user.password" type="password">
                        </md-input-container>
                    </div>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                </md-card-content>
                <md-card-actions layout="row" layout-align="space-around start">
                    <md-button class="md-cornered" aria-label="Entrer" ng-click="submit">
                        Login
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
</form>