<div class="bs-component" ng-show="menuCtrl.displayMenu">
    <md-toolbar class="md-whiteframe-6dp app-menu-bar" layout="row" layout-align="left center">
        <div layout="row" ng-show="menuCtrl.displayMenu">
            <md-menu md-offset="0 -5">
                <md-button aria-label="Open interactions menu" class="md-icon-button" ng-click="menuCtrl.openMenu($mdOpenMenu, $event)">
                    <md-icon md-menu-origin>
                        <div class="app-menu-picto"></div>
                    </md-icon>
                </md-button>
                <md-menu-content width="40">
                    <md-menu-item>
                        <md-button ng-click="menuCtrl.selectMenu(1)">
                            {{menuCtrl.menuLabel[0]}}
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="menuCtrl.selectMenu(2)">
                            {{menuCtrl.menuLabel[1]}}
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="menuCtrl.selectMenu(3)">
                            {{menuCtrl.menuLabel[2]}}
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="menuCtrl.selectMenu(4)">
                            {{menuCtrl.menuLabel[3]}}
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="menuCtrl.selectMenu(5)">
                            {{menuCtrl.menuLabel[4]}}
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="menuCtrl.selectMenu(6)">
                            {{menuCtrl.menuLabel[5]}}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <div class="md-toolbar-tools">{{selectedMenuTitle}}</div>
            <div class="app-title-button-container">
                <div class="app-title-button" ng-show="addItemElement">
                    <md-button class="md-fab" aria-label="Ajouter un élément" ng-click="menuCtrl.add()">
                        <md-icon class="app-icon-white" md-svg-src="/cave/images/icons/plus.svg"></md-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </md-toolbar>
</div>