<md-content class="app-main-content" layout-padding layout-wrap layout-fill>
    <div flex="auto" layout="row" layout-xs="column" layout-wrap>
        <md-card class="card" ng-repeat="item in ctrl.items | orderBy:'name'">
            <md-card-title class="app-card-title">
                <md-card-title-text>
                    <span class="md-headline">{{item.name}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-title-media>
                <div class="md-media-sm card-media">
                    <div class="app-region-picto" ng-click="ctrl.displayBottlesOfRegion(item)">
                        <div class="region-count">{{item.quantity}}</div>
                    </div>
                </div>
            </md-card-title-media>
            <md-card-actions layout="row" layout-align="space-around start">
                <md-button class="md-cornered" aria-label="Modifier" ng-click="ctrl.editItem(item)">
                    <md-icon md-svg-src="/cave/images/icons/edit.svg"></md-icon>
                </md-button>
                <md-button class="md-cornered" aria-label="Supprimer" ng-click="ctrl.deleteItem(item)">
                    <md-icon md-svg-src="/cave/images/icons/delete.svg"></md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>